[AUTOUPDATE]
# Version des aktuellen Releases
VERSION=0.1.7
# Download-URL des ZIP-Archivs
ARCHIVEURL=https://github.com/kriga88/LoxBerry-Plugin-CKWDynamic/archive/refs/tags/v0.1.7.zip
# Infos zum Release
INFOURL=https://github.com/kriga88/LoxBerry-Plugin-CKWDynamic/releases
