[AUTOUPDATE]
# Version des aktuellen Releases
VERSION=1.0.0
# Download-URL des ZIP-Archivs
ARCHIVEURL=https://github.com/kriga88/LoxBerry-Plugin-CKWDynamic/archive/refs/tags/v1.0.0.zip
# Infos zum Release
INFOURL=https://github.com/kriga88/LoxBerry-Plugin-CKWDynamic/releases
